header {
    display: grid;
    grid-auto-columns: 1fr;
    text-align: center;
}
body {
    background-color: aquamarine;
}
h2 {
    text-align: center;
}
.invisible{
    display: none;
}
#efni {
    margin-top: 1em;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.mynd {
    border-radius: 100%;
    size: 1em;
}
.ritgerd {
    text-align: center;
}
#rit {
    display: none;
    grid-auto-columns: 1fr 1fr;
    text-align: center;
}