header {
    display: grid;
    grid-auto-columns: 1fr;
    text-align: center;
}
body {
    background-color: aquamarine;
}
.center{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#efni {
    margin-top: 1em;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}