

.haus1 {
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . name ."
    ". title name ."
}
.haus2 {
    display: grid;
    grid-template-columns: 3fr 3fr;
    text-align: center;
    background-color: cadetblue;
    margin-bottom: 2em;
    padding-bottom: 1em;
    line-height: 20px;
}
.text{
    float: center;
    color: darkgray;
    max-width: 60em;
    margin: auto;
    
    text-align: center;
}
.nafn {
    grid-area: name;
    text-align: right;
    line-height: 3em;
    font-size: 75%;
    color: aqua;
}
a{
    color: aqua;
}
.title{
    grid-area: title;
    color: lightblue;
    line-height: 3em;
}
blockquote {
    background: white;
    opacity: 0.5;
    border: 0.5em solid gray;
}
.heddy {
    color: darkmagenta;
}





.leg{
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:  
                "column column column"
}

body {
    background: linear-gradient(blue, darkslateblue)
}

.copyrite{
    text-align: center;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: purple;
    border: 5px firebrick solid;
}
.or {
    position: fixed;
    top: 90%;
    left: 95%;
    background-color: white;
    border-radius: 1em;
    padding: 5px;
    text-decoration: none;
    font-size: 200%
}