<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<title> {{ page.title }}</title>
		<link rel="stylesheet" href="/vefhonnun/assets/css/styles.css">
    	{% seo %}
	</head> 
	<body>
		<div class="content">
			<div class = "nav">
				{% include navigation.html %}
			</div>
			<div class="left bar">
				<div class = "ad">
					<a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
						<img src="/vefhonnun/assets/img/monkey-svgrepo-com.svg" width="50px" height="50px">
					</a>
			</div>
			<p>
				Hit the monkey and get a Cookie.
			</p>
		</div>
		<div class="centre bar">
			{{ content }}
		</div>
		<div class="right bar">
			<img src="/vefhonnun/assets/img/Globe.svg" alt="heimurinn" height="250" width="250">
		</div>
		</div>
	</body>
</html>